body, html {
    height: 100%;
  }

img {
    max-width: 0 auto;
}

body {
    background-color: rgb(94, 94, 94);
}
.upper {
width: 100%;
}

.circle {
    border-radius: 80%;
    border: 20px solid black;
    width: 22%;
    margin: 4%;
}

#person {
    margin: right;

}

#desk {
    margin: left;
}

#graphic {
    margin: center;

}